.points {
  min-width: 100px;
  border: 2px solid black;
  border-radius: 12px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 29%,
    rgba(9, 9, 121, 1) 72%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 40px;
}

.points > div {
  padding: 15px;
  border-radius: 12px;
  margin-top: 10px;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .points {
    padding: 30px; 
  }

  .points > div {
    padding: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .points {
    padding: 20px; 
  }

  .points > div {
    padding: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .points {
    padding: 15px; 
  }

  .points > div {
    padding: 8px;
  }
}
